@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

@layer base {
   body {
    @apply font-sans bg-secondary-color;
   }

   h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
   }

   h1, h2, h3 {
    @apply font-bold;
   }

   h4, h5, h6 {
    @apply font-medium;
   }

   h1 {
    @apply text-[2.5rem];
   }

   h2 {
    @apply text-[2rem];
   }

   h3 {
    @apply text-[1.5rem];
   }
   h4 {
    @apply text-[1.2rem];
   }
}